@font-face {
	font-family: 'DigitsLCD';
	src: url('DigitsLCD.ttf');
}

div.devices {
	clear: both;
}

div.device {
	width: 192px;
	background-color: #80d080;
	padding: 8px;
	border: 2px solid #000000;
	margin: 4px;
	float: left;
	text-align: center;
}

div.deviceActive {
	border-color: #ff0000;
}

div.device span.name {
	display: block;
	text-align: left;
	font-weight: bold;
}

div.device span.value {
	display: block;
	text-align: right;
	font-family: 'DigitsLCD';
	font-size: 24pt;
}


div.items {
	clear: both;
}

div.item {
	background-color: #e0e0e0;
	padding: 4px;
	margin: 4px;
}

div.itemActive {
	background-color: #ffffd0;
}

div.item span.name {
	display: inline-block;
	width: 160px;
}

div.item input.setValue {
	background: None;
	border: None;
	display: inline-block;
	width: 80px;
	font-weight: bold;
	text-align: right;
}

div.item input.realValue {
	background: None;
	border: None;
	display: inline-block;
	width: 80px;
	color: #ff0000;
	font-weight: bold;
	text-align: right;
}

div.item input.realValueOK {
	color: #00c000;
}

input.measuring {
	display: block;
	clear: both;
}