@font-face {
	font-family: 'DigitsLCD';
	src: url('DigitsLCD.ttf');
}

body {
	font-family: Arial;
}

div.devices {
	clear: both;
}

div.device {
	width: 192px;
	background-color: #80d080;
	padding: 8px;
	border: 2px solid #000000;
	margin: 4px;
	float: left;
	text-align: center;
}

div.deviceActive {
	border-color: #ff0000;
}

div.device span.name {
	display: block;
	text-align: left;
	font-weight: bold;
}

div.device span.value {
	display: block;
	text-align: right;
	font-family: 'DigitsLCD';
	font-size: 24pt;
}

table.items {
	display: block;
	clear: both;
}

table.items th {
	background-color: #c0c0c0;
	text-align: left;
	font-weight: bold;
	padding: 4px;
}

table.items th.name {
	width: 160px;
}

table.items th.setValue {
	width: 160px;
}

table.items th.realValue {
	width: 160px;
}

table.items th.tolerance {
	width: 160px;
}

table.items tr {
	background-color: #e0e0e0;
}


table.items tr.active {
	background-color: #ffffd0;
}

table.items td {
	padding: 4px;
}

table.items input {
	background: None;
	border: None;
	display: inline-block;
	font-weight: bold;
	text-align: right;
}

table.items td.setValue {
	text-align: right;
}

table.items input.setValue {
	width: 100px;
}

table.items input.realValue {
	width: 100px;
	color: #ff0000;
}

table.items td.realValue {
	text-align: right;
}

table.items input.realValueOK {
	color: #00c000;
}

table.items input.tolerance {
	width: 100px;
}

table.items td.tolerance {
	text-align: right;
}

span.unit {
	background: None;
	border: None;
	display: inline-block;
	width: 20px;
	font-weight: bold;
	text-align: right;
}

input.measuring {
	display: block;
	clear: both;
}

input.done {
	display: none;
	clear: both;
}

input.show {
	display: block;
}
